.xdebug-var-dump {
  z-index: 9000000;
  position: relative;
  display: block;
  background: rgba(255, 255, 255, .8);
}

#lb-publishing-action #major-publishing-actions {
  margin: 20px -12px -12px -12px;
  overflow: hidden;
}
